html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

a.left {
  float: left;
}

a.right {
  float: right;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari and Chrome */
  -o-transform:rotate(180deg); /* Opera */
}

a.left, a.right {
  background: url("../../assets/img/ArrowGoLeft.png") no-repeat center center;
  width: 10%;
  height: 100%;
  opacity: 0.2;
}

ul, li, li div {
  height: 100%;
}

li {
  vertical-align: middle;
}

#carousel {
  float: left;
  width: 80%;
  height: 100%;
}

.page {
  background-size: contain;
}

img {
  pointer-events: none;
}

@media (min-device-width : 768px) and (max-device-width: 1024px) and (orientation : landscape) {
  a.left, a.right {
    display: none;
  }
}